div.hero-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 220px - 80px);
  overflow: hidden;
  border-bottom: 5px solid var(--primary-color);
  transition: 0.5s ease;

  .img-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    div.overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      background: radial-gradient(circle,
          rgba(0, 0, 0, 0) 31%,
          rgba(0, 0, 0, 0.72) 100%);
    }

    img {
      transition: 0.5s ease;
      position: relative;
      width: 100%;
      min-height: 0;
    }
  }

  h2.title {
    position: absolute;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 96px;
    line-height: 120px;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 1);
    transition: 0.8s ease;
    user-select: none;
    z-index: 2;

    font-family: "Fredoka", sans-serif;
    cursor: pointer;

    span {
      color: var(--primary-color);
    }

    &:hover {
      text-shadow: 2px 2px 20px rgba(0, 0, 0, 1);
    }
  }

  ul.hero-game-list {
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;
    gap: 20px;
    height: 100px;
    width: 500px;
    z-index: 2;
    transition: 0.5s ease;

    li.hero-game {
      position: relative;
      top: 0;
      box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.52);
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background: white;
      transition: 0.5s ease;

      a {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;

        div.icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          align-items: center;
          justify-content: center;
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 4px solid var(--primary-color);
          transition: 0.3s ease;
          z-index: 1;

          &::after {
            content: "";
            position: absolute;
            top: 100%;
            border: 10px solid transparent;
            border-bottom-color: var(--primary-color);
            transform: translateY(-5px);
            opacity: 0;
            transition: 0.3s ease;
          }

          &::before {
            content: attr(data-name);
            position: absolute;
            top: 100%;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            background: var(--primary-color);
            transform: translateY(0px);
            transition: 0.3s ease;
            opacity: 0;
          }

          &:hover {
            color: var(--primary-color);

            &::after {
              transform: translateY(0px);
              opacity: 1;
            }

            &::before {
              transform: translateY(20px);
              opacity: 1;
              box-shadow: 2px 2px 10px 0 black;
            }
          }
        }

        div.cardContent {
          position: relative;
          width: 100%;
          height: 100%;
          overflow: hidden;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s ease;

          img {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(50%, -50%);
            width: 400px;
            filter: brightness(0) invert(0.5);
            opacity: 0.3;
          }
        }
      }
    }
  }

  &.active {
    height: calc(100vh - 75px);
    overflow: hidden;

    div.img-container {
      img {
        min-height: 110vh;
      }
    }

    h2 {
      top: 10%;
    }

    ul.hero-game-list {
      width: 80vw;
      height: 450px;

      li {
        height: 450px;
        width: 500px;
        border-radius: 20px;
        border: 4px solid var(--primary-color);

        &:hover {
          top: -10px;
        }

        a {
          div.icon {
            top: -10px;
            background: white;
            border-bottom: 0;

            &::before,
            &::after {
              display: none;
            }
          }

          div.cardContent {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}

div.quantity-container {
  position: relative;
  top: -100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px 0;
  transition: 0.5s ease;

  &.active {
    top: 0;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    z-index: 2;

    li {
      position: relative;
      display: flex;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: var(--primary-color);
      transition: 0.3s ease;
      overflow: hidden;

      &:nth-child(3) {
        background: white;
        border: 5px solid var(--primary-color);

        a {
          &:hover {
            background: none;
          }

          span.number {
            font-size: 42px;
            color: var(--primary-color);
          }

          span.text {
            color: var(--primary-color);
          }
        }
      }

      a {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        transition: 0.3s ease;

        &:hover {
          background-color: rgba(0, 0, 0, 0.202);
        }


        span.number {
          font-size: 50px;
          line-height: 50px;
          font-weight: 600;
          color: white;
        }

        span.text {
          font-weight: 600;
          color: white;
        }
      }

    }
  }
}

section.our-better-content-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  padding: 0 20px;
  gap: 20px;
  width: 90%;
  background: var(--primary-color);

  &::before {
    content: "";
    position: absolute;
    top: -250px;
    right: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 50px solid transparent;
    rotate: -45deg;
    border-bottom-color: var(--primary-color);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -250px;
    right: -50px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 50px solid transparent;
    border-top-color: var(--primary-color);
  }

  &.right {
    right: -10%;
    border-radius: 250px 0 0 250px;
    flex-flow: row-reverse;
    box-shadow: -10px -10px 30px 0 rgba(0, 0, 0, 0.3);

    img.poke {
      right: 100px;
    }

    &::after {
      right: -50px;
      rotate: 45deg;
    }

    &::before {
      right: -50px;
      rotate: -45deg;
    }

    img.elementIcon {
      left: -10%;
    }
  }

  &.left {
    right: 0;

    border-radius: 0 250px 250px 0;
    box-shadow: 10px -10px 30px 0 rgba(0, 0, 0, 0.3);

    img.poke {
      left: 100px;
    }

    &::after {
      left: -50px;
      rotate: -45deg;
    }

    &::before {
      left: -50px;
      rotate: 45deg;
    }

    img.elementIcon {
      right: -10%;
    }
  }

  h4 {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Fredoka", sans-serif;
    font-size: 42px;
    cursor: context-menu;
    user-select: none;
  }

  img.poke {
    transition: 0.5s ease;
    position: absolute;
    width: 100px;
    top: 7px;
    transform: translateY(-100%);
    cursor: pointer;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-top: 50px;
    align-items: center;
    width: calc(100% - 420px);
    z-index: 1;

    li {
      position: relative;
      bottom: 0;
      background: white;
      height: 170px;
      border-radius: 20px;
      width: calc(100% / 3 - 40px);
      transition: 0.5s ease;
      box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0),
        inset 0 0 5px 2px rgba(0, 0, 0, 0.495);

      &:hover {
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.343);
        bottom: 10px;
        scale: 1.05;

        a {

          &::before,
          &::after {
            box-shadow: 0 0 0 0 black;
          }

          div.icon {
            background: var(--primary-color);

            img {
              scale: 1.5;
            }

            &::before {
              transform: translate(-50%, -50%) rotate(-30deg);
            }
          }
        }
      }

      a {
        position: relative;
        padding: 10px;
        padding-top: 40px;
        display: flex;
        flex-flow: column;
        align-items: center;
        width: 100%;
        height: 100%;

        &::before {
          transition: 0.3s ease;
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translate(-50%, -50%);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: var(--primary-color);
          box-shadow: 5px 0 3px 0px rgba(0, 0, 0, 0.495);
        }

        &::after {
          transition: 0.3s ease;
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          transform: translate(50%, -50%);
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: var(--primary-color);
          box-shadow: -5px 0 3px 0px rgba(0, 0, 0, 0.495);
        }

        div.icon {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 70px;
          width: 70px;
          border-radius: 50%;
          background: transparent;
          transition: 0.3s ease;
          background: #BEBEBE;
          z-index: 2;

          &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: 0.3s ease;
            width: 100%;
            height: 7px;
            background: white;
            z-index: -1;
          }

          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: white;
            z-index: -1;
          }

          img {
            transition: 0.3s ease;
            z-index: 100;
            scale: 1.2;
          }
        }

        span {
          position: relative;
          line-height: 50px;
          color: black;
          font-weight: 600;
        }
      }
    }
  }

  img.icon {
    height: 325px;
  }
}

div.last-updates {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px;

  &.left {
    h4 {
      right: 50px;

      &::before {
        left: 500px;
        border-left-color: var(--primary-color);
        transform: translateX(-100%);

      }
    }
  }

  &.right {
    h4 {
      left: 50px;

      &::before {
        right: 500px;
        border-right-color: var(--primary-color);
        transform: translateX(100%);

      }
    }
  }

  h4 {
    position: absolute;
    top: 0;
    color: var(--primary-color);
    margin: 10px 0;
    line-height: 60px;
    font-size: 36px;
    padding: 0 40px;
    border: 2px solid transparent;
    background: rgb(255, 255, 255);

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      width: 80vw;
      height: 2px;
      background: var(--primary-color);
      z-index: -10;
    }
  }

  ul {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 30px;
    margin-bottom: 20px;
    justify-content: space-around;

    li {
      background: var(--primary-color);
      width: calc(50% - 20px);
      color: black;
      border-bottom: 1px solid var(--primary-color);
      border-radius: 10px;
      transition: 0.2s ease;

      &:hover {
        box-shadow: -2px 2px 10px 0px rgba(0, 0, 0, 0.5);

        a {
          padding-left: 80px;

          div.icon {
            left: 0;
          }
        }
      }

      a {
        display: flex;
        flex-flow: column;
        position: relative;
        color: white;
        font-weight: bold;
        padding: 10px 20px;
        transition: 0.2s ease;
        overflow: hidden;
        border-radius: 10px;

        div.icon {
          position: absolute;
          left: -70px;
          top: 0;
          width: 70px;
          height: calc(100% + 1px);
          background: white;
          transition: 0.3s ease;
          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            display: flex;
            align-items: center;
            justify-content: center;
            stroke: var(--primary-color);
          }
        }

        h5 {
          font-size: 20px;
        }

        span {
          position: absolute;
          top: 5px;
          right: 20px;
          color: rgb(221, 221, 221);
        }

        p {
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
  }
}