nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 20px;
  padding-top: 100px;
  height: 100vh;
  width: 350px;
  background: white;
  box-shadow:
    5px 0 10px 0 rgba(0, 0, 0, 0.3),
    25px 0 0 0 rgba(var(--grass), 0.9),
    30px 0 10px 0 rgba(0, 0, 0, 0.5),
    50px 0 0 0 rgba(var(--fire), 0.9),
    55px 0 10px 0 rgba(0, 0, 0, 0.5),
    75px 0 0 0 rgba(var(--electric), 0.9),
    80px 0 10px 0 rgba(0, 0, 0, 0.5),
    100px 0 0 0 rgba(var(--water), 0.9),
    0 0 0 100vw rgba(0, 0, 0, 0.7);
  transition:
    0.3s ease,
    box-shadow 2s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 10;
  &.closed {
    width: 0;
    opacity: 0;
    visibility: hidden;
    box-shadow:
      0px 0 0 0 rgba(var(--grass), 0.9),
      0px 0 0 0 rgba(var(--fire), 0.9),
      0px 0 0 0 rgba(var(--electric), 0.9),
      0px 0 0 0 rgba(var(--water), 0.9),
      0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  &.searching {
    width: 100%;
    box-shadow:
      0px 0 0 0 rgba(var(--grass), 0.9),
      0px 0 0 0 rgba(var(--fire), 0.9),
      0px 0 0 0 rgba(var(--electric), 0.9),
      0px 0 0 0 rgba(var(--water), 0.9),
      0 0 0 0 rgba(0, 0, 0, 0.7);
    div#searchInputContainer {
      input#searchInput {
        border: 2px solid var(--primary-color);
        box-shadow: inset 0px 0px 3px 0px var(--primary-color);
        border-radius: 12px;
      }
    }
    ul {
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
  div#searchInputContainer {
    position: relative;
    width: 100%;
    height: 50px;
    input#searchInput {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      background: white;
      color: var(--primary-color);
      font-size: 24px;
      border: 2px solid transparent;
      border-bottom: 2px solid var(--primary-color);
      transition: 0.4s ease;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px white inset;
        -webkit-text-fill-color: var(--primary-color);
        border: 2px solid var(--primary-color);
        outline: 0;
      }
    }
    label {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      svg {
        stroke: var(--primary-color);
      }
    }
  }
  ul {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    gap: 10px;
    li {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 30px;
      width: 100%;
      height: 70px;
      text-align: center;
      transition: 0.2s ease;
      color: black;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 15px;
        width: 0;
        height: 2px;
        transition: 0.2s ease;
        background: black;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.02);
        &::before {
          width: 50%;
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        color: black;
      }
    }
  }
}
